{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_rating %}
    {% if product.ratingAverage %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_product_box_variant_characteristics %}
    {% if not product.isGrouped and product.variation %}
        {% if theme_config('dmf-product-box-show-variants') %}
            <div class="product-variant-characteristics">
                <div class="product-variant-characteristics-text">
                    {% for variation in product.variation %}
                        {{ variation.group }}:
                        <span class="product-variant-characteristics-option">
                            {{ variation.option }}
                        </span>

                        {% if product.variation|last != variation %}
                            {{ " | " }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block component_product_box_description %}
    {% if theme_config('dmf-product-box-description-enable') %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}">
            <div class="product-description">
                {{ product.customFields.custom_product_short_desc }}
            </div>
        </a>
    {% endif %}
    <div class="additional-description" >
        {{ product.customFields.custom_product_information|striptags|raw }}
    </div>
{% endblock %}


{% block component_product_box_wishlist_action %}
    {% if theme_config('dmf-product-box-wishlist-position') == 'image' %}Œ
        {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
            appearance: 'circle',
            productId: id
        } %}
    {% endif %}
{% endblock %}


    {% block component_product_box_name %}
        <p class="product-number">
            <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}">
                <span class="product-number-label">Art-Nr.</span>
                <span class="price-number-content">{{ product.productNumber }} </span>
            </a>
        </p>
        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
           class="product-name"
           title="{{ name }}">
            {{ name | getNameWithoutUnit }}
        </a>
        <p class="product-name"> {{ name | getUnit }}</p>
    {% endblock %}


  {% block component_product_box_price %}
      <div class="price-wrap">
          {{ parent() }}
      </div>
  {% endblock %}
