{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}

{% block buy_widget_price_unit_content %}
{#    <span class="price-unit-content">#}
{#        {% set unit =  price.referencePrice.unitName %}#}
{#        {% if (unit == '1 l') %}#}
{#            {% set unit =  '1 Liter' %}#}
{#        {% endif %}#}
{#        {% if (unit == 'l') %}#}
{#            {% set unit =  'Liter' %}#}
{#        {% endif %}#}
{#        ({{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {% if price.referncePrice.referenceUnit != 1 %}{{ price.referncePrice.referenceUnit }}{% endif %} {{ unit }})#}
{#    </span>#}
{% endblock %}

{% block buy_widget_price_unit_reference_content %}
    <span class="price-unit-reference-content">
        {% set unit =  price.referencePrice.unitName %}
        {% if (unit == '1 l') %}
            {% set unit =  '1 Liter' %}
        {% endif %}
        {% if (unit == 'l') %}
            {% set unit =  'Liter' %}
        {% endif %}
        ({{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {% if referncePrice.referenceUnit != 1 %}{{ referncePrice.referenceUnit }}{% endif %} {{ unit }})
    </span>
{% endblock %}

{% block buy_widget_price_unit_label %}
{% endblock %}

{% block buy_widget_price_content %}
    {{ parent() }}
    {% set packUnit = product.packUnit %}
    {% if packUnit is empty %}
        {% set packUnit = page.product.packUnit %}
    {% endif %}
    {% if packUnit is empty %}
        {% set packUnit = product.unit.translated.name %}
    {% endif %}
    {% if packUnit is empty %}
        {% set packUnit = page.product.unit.translated.name %}
    {% endif %}
    {% if packUnit is not empty %}
        <span class="packunit">
            &nbsp;|&nbsp; {% if product.customFields.custom_product_pack_unit_quantity is not empty %}{{ product.customFields.custom_product_pack_unit_quantity }} {% elseif page.product.customFields.custom_product_pack_unit_quantity is not empty %}{{ page.product.customFields.custom_product_pack_unit_quantity }} {% else %} 1 {% endif %}{{ packUnit }}
        </span>
    {% endif %}
    {% if page.product.calculatedPrices|length >= 1 %}
        {% set prod = product %}
        {% if prod is empty %}
            {% set prod = page.product %}
        {% endif %}
        {% set stdprice = prod.price|first.net %}
        {% set savings = (( 1-(prod.calculatedPrices.elements|first.unitprice/stdprice))*100)|round %}

        <span class="std-price">(Standardpreis: {{ (stdprice|currency) }})</span>
        {% if savings > 1 %}
            <div class="your-savings">
                <strong>Sie sparen: {{ savings }}%</strong>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
